@mixin clearfix{
  &:after{
    content: "";
    display:table;
    clear:both
  }
}

@mixin scrollBar{
  &::-webkit-scrollbar-track-piece{
    background:#d3dce6
  }
  &::-webkit-scrollBar{
    width:6px
  }
  &::-webkit-scrollBar-thumb{
    background:#99a9bf;
    border-radius:20px
  }
}
//定位上下左右居中
@mixin ctp($width,$height) {
  position: absolute;
	top: 50%;
  left: 50%;
  margin-top: -$height/2;
  margin-left: -$width/2;
}

//宽高
@mixin wh($width, $height){
	width: $width;
	height: $height;
}
